body {
    line-height: 1.5;
    min-height: 100%;
}

button {
    font: inherit;
}

html {
    color-scheme: dark light;
}

img {
    display: block;
    max-inline-size: 100%;
}

input {
    font: inherit;
}

picture {
    display: block;
    max-inline-size: 100%;
}

select {
    font: inherit;
}

svg {
    display: block;
    max-inline-size: 100%;
}

textarea {
    font: inherit;
}

video {
    display: block;
    max-inline-size: 100%;
}
