@use "../abstracts/colors" as *;

.site-footer {
    background: black;
    color: $theme-white;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#main {
    background: #838996;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 2rem;
}
