$theme-black: #272829;
$theme-white: #f8f9fa;
$theme-blue: #0d6efd;
$theme-red: #dc3545;
$theme-orange: #fd7e14;
$theme-yellow: #ffc107;
$theme-green: #198754;
$theme-gray: #d8d8da;
$theme-gray-dark: #61677a;
