<ul>
    {% for post in collections.reviews %}
        <li {% if post.url == url%}aria-current="page"{% endif %}>
            <article>
                <section>
                    <img src="{{ post.data.coverImage }}" height=150 width=100>
                    <time>{{ post.data.date | dateMed }}</time>
                    <p>{{ post.data.tags }}</p>
                </section>
                <section>
                    <a href="{{ post.url }}">
                        <h3>{{ post.data.title }}</h3>
                    </a>
                    <p>{{ post.templateContent | excerpt }}</p>
                    <p><a href="{{ post.url }}">Read More</a></p>
                </section>
            </article>
        </li>
    {% endfor %}
</ul>